In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = df["school_name"]
school_count.nunique()

15

In [4]:
# Calculate the total number of students
student_count = df["Student ID"]
student_count.nunique()

39170

In [5]:
# Calculate the total budget
total_budget_df = school_data["budget"].sum()
total_budget_df

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = df["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = df["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math = df.loc[(df["math_score"]>=70),:]
passing_math_count = passing_math["math_score"].count()
passed_math_rate = round((passing_math["math_score"].count() / student_count.nunique()) * 100, 2)
passed_math_rate

74.98

In [9]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading = df.loc[(df["reading_score"]>=70),:]
passing_reading_count = passing_reading["reading_score"].count()
passing_reading_percentage = round((passing_reading["reading_score"].count() / student_count.nunique()) * 100, 2)
passing_reading_percentage

85.81

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_reading_math = df.loc[(df["math_score"]>=70) & (df["reading_score"]>=70),:]
passing_reading_math_count = passing_reading_math["reading_score"].count()
overall_passing_rate = round((passing_reading_math["reading_score"].count() / student_count.nunique()) * 100, 2) 
overall_passing_rate

65.17

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count.nunique()],
                  "Total Students": [student_count.nunique()],
                  "Total Budget": [total_budget_df],
                  "Average Math Score": [average_math_score],
                  "Average Reading Score": [average_reading_score],
                  "% Passing Math": [passed_math_rate],
                  "% Passing Reading": [passing_reading_percentage],               
                  "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98,85.81,65.17

## School Sumary

In [12]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count
per_school_counts = df.groupby("school_name")["school_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending
per_school_budget = df.groupby("school_name")["budget"].mean()
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
# Calculate the average math test scores
per_school_math = df.groupby("school_name")["math_score"].mean()
print(f"Average Math Test Score {per_school_math}")

Average Math Test Score school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Calculate the average reading test scores
per_school_reading = df.groupby("school_name")["reading_score"].mean()
print(f"Average Reading Test Score {per_school_reading}")

Average Reading Test Score school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# % passing math (the percentage of students who passed math)
passing_math_per_school = df.loc[(df["math_score"]>=70),(["math_score","school_name"])]
passing_math_per_school_count =  passing_math_per_school.groupby("school_name")["math_score"].count()
passing_math_per_school_rate = round(passing_math_per_school_count / per_school_counts * 100,2)
passing_math_per_school_rate

school_name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [18]:
# % passing reading (the percentage of students who passed reading)
passing_reading_per_school = df.loc[(df["reading_score"]>=70),(["reading_score","school_name"])]
passing_reading_per_school_count =  passing_reading_per_school.groupby("school_name")["reading_score"].count()
passing_reading_per_school_rate = round(passing_reading_per_school_count / per_school_counts * 100,2)
passing_reading_per_school_rate

school_name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [19]:
# % overall passing (the percentage of students who passed math AND reading)
passing_reading_math_per_school = df.loc[(df["reading_score"]>=70) & (df["math_score"]>=70),(["reading_score","math_score","school_name"])]
passing_reading_math_per_school_count =  passing_reading_math_per_school.groupby("school_name")["reading_score"].count()
passing_reading_math_per_school_rate = round(passing_reading_math_per_school_count / per_school_counts * 100,2)
passing_reading_math_per_school_rate

school_name
Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
dtype: float64

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
                  "Total Students": per_school_counts,
                  "Total School Budget": per_school_budget,
                  "Per Student Budget": per_school_capita,
                  "Average Math Score": per_school_math,
                  "Average Reading Score": per_school_reading,
                  "% Passing Math": passing_math_per_school_rate,
                  "% Passing Reading": passing_reading_per_school_rate,
                  "% Overall Passing": passing_reading_math_per_school_rate})

# Formatting
#per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.39,97.14,90.60
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.51,96.25,89.23
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.68,81.32,53.51
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.59,95.95,90.54
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.37,80.22,52.99
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.87,95.85,89.89
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.27,97.31,90.95
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.87,96.54,90.58
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.33,96.61,90.33

## Highest-Performing Schools (by % Overall Passing)

In [21]:
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.59,95.95,90.54

## Lowest-Performing Schools (by % Overall Passing)

In [22]:
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.06,81.22,53.54

## Math Scores by Grade

In [23]:
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"

#show and format
math_scores.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

## Reading Scores by Grade

In [24]:
#creates grade level average reading scores for each school
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

#format
reading_scores.style.format({'9th': '{:.6f}', 
                             "10th": '{:.6f}', 
                             "11th": "{:.6f}", 
                             "12th": "{:.6f}"})

## Scores by School Spending

In [25]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df = per_school_summary
school_spending_df["Spending Ranges (Per Student)"] =pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels=labels)
school_spending_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.13,97.04,91.33,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.99,80.74,53.20,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.31,79.30,54.29,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.39,97.14,90.60,$585-630

In [26]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [27]:
spending_summary = pd.DataFrame({
        "Average Math Score": spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% passing math": spending_passing_math,
        "% passing reading": spending_passing_reading,
        "% overall passing": overall_passing_spending,
})
spending_summary

,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460000,96.610000,90.367500
$585-630,81.899826,83.155286,87.132500,92.717500,81.417500
$630-645,78.518855,81.624473,73.485000,84.392500,62.857500
$645-680,76.997210,81.027843,66.163333,81.133333,53.526667

## Scores by School Size

In [30]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
scores_by_school_size = per_school_summary
scores_by_school_size["Scores by School Size"] = pd.cut(scores_by_school_size["Total Students"], size_bins, labels=labels)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),Scores by School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.68,81.93,54.64,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.13,97.04,91.33,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.99,80.74,53.20,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.31,79.30,54.29,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.39,97.14,90.60,$585-630,Medium (1000-2000)

In [32]:
size_math_scores = scores_by_school_size.groupby(["Scores by School Size"]).mean()["Average Math Score"]
size_reading_scores = scores_by_school_size.groupby(["Scores by School Size"]).mean()["Average Reading Score"]
size_passing_math = scores_by_school_size.groupby(["Scores by School Size"]).mean()["% Passing Math"]
size_passing_reading = scores_by_school_size.groupby(["Scores by School Size"]).mean()["% Passing Reading"]
size_passing_spending = scores_by_school_size.groupby(["Scores by School Size"]).mean()["% Overall Passing"]

In [35]:
size_summary = pd.DataFrame({
        "Average Math Score": size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% passing math": size_passing_math,
        "% passing reading": size_passing_reading,
        "% overall passing": size_passing_spending,
})
size_summary

,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
Scores by School Size,,,,,
Small (<1000),83.821598,83.929843,93.55000,96.10000,89.885
Medium (1000-2000),83.374684,83.864438,93.59800,96.79000,90.620
Large (2000-5000),77.746417,81.344493,69.96375,82.76625,58.285

## Scores by School Type

In [36]:
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_passing_spending = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [37]:
type_summary = pd.DataFrame({
        "Average Math Score": type_math_scores,
        "Average Reading Score": type_reading_scores,
        "% passing math": type_passing_math,
        "% passing reading": type_passing_reading,
        "% overall passing": type_passing_spending,
})
type_summary

,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
School Type,,,,,
Charter,83.473852,83.896421,93.620000,96.586250,90.431250
District,76.956733,80.966636,66.548571,80.798571,53.671429