In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = df["school_name"]
school_count.nunique()

15

In [4]:
# Calculate the total number of students
student_count = df["Student ID"]
student_count.nunique()

39170

In [5]:
# Calculate the total budget
total_budget_df = school_data["budget"].sum()
total_budget_df

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = df["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = df["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math = df.loc[(df["math_score"]>=70),:]
passing_math_count = passing_math["math_score"].count()
passed_math_rate = round((passing_math["math_score"].count() / student_count.nunique()) * 100, 2)
passed_math_rate

74.98

In [9]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading = df.loc[(df["reading_score"]>=70),:]
passing_reading_count = passing_reading["reading_score"].count()
passing_reading_percentage = round((passing_reading["reading_score"].count() / student_count.nunique()) * 100, 2)
passing_reading_percentage

85.81

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_reading_math = df.loc[(df["math_score"]>=70) & (df["reading_score"]>=70),:]
passing_reading_math_count = passing_reading_math["reading_score"].count()
overall_passing_rate = round((passing_reading_math["reading_score"].count() / student_count.nunique()) * 100, 2) 
overall_passing_rate

65.17

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count.nunique()],
                  "Total Students": [student_count.nunique()],
                  "Total Budget": [total_budget_df],
                  "Average Math Score": [average_math_score],
                  "Average Reading Score": [average_reading_score],
                  "% Passing Math": [passed_math_rate],
                  "% Passing Reading": [passing_reading_percentage],               
                  "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98,85.81,65.17

In [12]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [13]:
# Calculate the total student count
per_school_counts = df.groupby("school_name")["school_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [18]:
# Calculate the total school budget and per capita spending
per_school_budget = df.groupby("school_name")["budget"].mean()
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [20]:
# Calculate the average test scores
per_school_math = df.groupby("school_name")["math_score"].mean()
per_school_reading = df.groupby("school_name")["reading_score"].mean()
print(f"Average Math Test Score {per_school_math} , per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64 school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64