In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
# Calculate the total number of unique schools
school_count = df["school_name"]
school_count.nunique()

15

In [4]:
# Calculate the total number of students
student_count = df["Student ID"]
student_count.nunique()

39170

In [21]:
# Calculate the total budget
total_budget_df = school_data["budget"].sum()
total_budget_df

24649428

In [23]:
# Calculate the average (mean) math score
average_math_score = df["math_score"].mean()
average_math_score

78.98537145774827

In [24]:
# Calculate the average (mean) reading score
average_reading_score = df["reading_score"].mean()
average_reading_score

81.87784018381414

In [37]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math = df.loc[(df["math_score"]>=70),:]
passing_math_count = passing_math["math_score"].count()
passed_math_rate = round((passing_math["math_score"].count() / student_count.nunique()) * 100, 2)
passed_math_rate

74.98

In [39]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading = df.loc[(df["reading_score"]>=70),:]
passing_reading_count = passing_reading["reading_score"].count()
passing_reading_percentage = round((passing_reading["reading_score"].count() / student_count.nunique()) * 100, 2)
passing_reading_percentage

85.81

In [55]:
# Use the following to calculate the percentage of students that passed math and reading
passing_reading_math = df.loc[(df["math_score"]>=70) & (df["reading_score"]>=70),:]
passing_reading_math_count = passing_reading_math["reading_score"].count()
passing_reading_math_percentage = round((passing_reading_math["reading_score"].count() / student_count.nunique()) * 100, 2) 
passing_reading_math_percentage

65.17